<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Details</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'EmotionRecognition/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'EmotionRecognition/vendor/bootstrap/css/bootstrap.min.css'%} " rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'EmotonRecognition/vendor/font-awesome/css/font-awesome.min.css'%} " rel="stylesheet" type="text/css">
<!--     <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->

    <!-- Custom styles for this template -->
    <link href="{%static 'EmotionRecognition/css/clean-blog.min.css'%} " rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Stage1</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/details">Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/live/ ">Try it yourself</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-color: black;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Details</h1>
<!--               <span class="subheading">A Blog Theme by Start Bootstrap</span>
 -->            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Aim</h1>
            <span>The aim of this project is to add one or more metrics to a current emotions speech recognition system. The system current metrics are Laughing, Anger, Irritation.Arousal and Gender. One new metric could be Age</span>
            <hr>
            <h1>Tasks</h1>
            <ol>
              <li>
                Conducting the literature review on emotions in speech recognition platforms, and exploring methodologies of building them.
              </li>
              <li>
                Investigating existing and related work on emotions in speech recognition platforms.
              </li>
              <li>
                Understanding the current emotions in speech recognition platform provided by Affectiva.
              </li>
              <li>
                Designing the classifier to the provided data set.
              </li>
              <li>
                Implementing and training feature extraction mechanism for the new metrics.
              </li>
              <li>
                Platform integration and testing.
              </li>
              <li>
                Performance analysis and evaluation.
              </li>
            </ol>
            <hr>
            <h1>Process</h1>
            <ol>
              <li>
                Speech signal acquisition
              </li>
              <li>
                Features extraction
              </li>
              <li>
                Feed the features into a classifier and predict an emotion
              </li>
            </ol>
            <hr>
          </div>
        </div>
      </div>


    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
