<!DOCTYPE html>
<html lang="en">

  <head>
  	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'EmotionRecognition/vendor/bootstrap/css/bootstrap.min.css'%} " rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'EmotonRecognition/vendor/font-awesome/css/font-awesome.min.css'%} " rel="stylesheet" type="text/css">
<!--     <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->

    <!-- Custom styles for this template -->
    <link href="{%static 'EmotionRecognition/css/clean-blog.min.css'%} " rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Stage1</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/details">Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/live/">Try it yourself</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-color:black;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Recognizing Speaker's Attributes</h1>
<!--               <span class="subheading">A Demo By Ali Waleed</span> -->
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <h1>Intro</h1>
            <span>Below is some examples of different emotions voice samples.You could play any one of them to examine the emotion tagged
            ,then you could simply see the model in action by clicking the bar chart icon of any voice sample</span>
            <hr>
          <h3>Anger</h3>
				<a href="/Playlist/angry.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>
			   <audio controls>
				   <source src="{% static 'EmotionRecognition/Playlist/angry.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/angry.wav' %}">
				</audio>
			   <audio controls>
				   <source src="{% static 'EmotionRecognition/Playlist/Angry2.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/Angry2.wav' %}">
				</audio>
				<a href="/Playlist/Angry2.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>
				<hr>
				<h3>Boredom</h3>
				<a href="/Playlist/boredom.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>
				<audio controls>
				   <source src="{% static 'EmotionRecognition/Playlist/boredom.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/boredom.wav' %}">
				</audio>
				<audio controls>
				   <source src="{% static 'EmotionRecognition/Playlist/boredom2.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/boredom2.wav' %}">
				</audio>
				<a href="/Playlist/boredom2.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>				<hr>
				<h3>Fear</h3>
				<a href="/Playlist/fear.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>
				<audio controls>
				   <source src="{% static 'EmotionRecognition/Playlist/fear.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/fear.wav' %}">
				</audio>
				<audio controls>
				   <source src="{% static 'EmotionRecognition/Playlist/fear2.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/fear2.wav' %}">
				</audio>
				<a href="/Playlist/fear2.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>
				<hr>
				<h3>Sad</h3>
				<a href="/Playlist/sad.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>
				<audio controls>
				   <source src="{% static 'EmotionRecognition/Playlist/sad.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/sad.wav' %}">
				</audio>
				<audio controls>
				   <source src="{% static 'EmotionRecognition/Playlist/Sad2.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/Sad2.wav' %}">
				</audio>
				<a href="/Playlist/Sad2.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>
				<hr>
				<h3>Neutral</h3>
				<a href="/Playlist/Neutral.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>
				<audio controls>
				   <source src="{% static 'EmotionRecognition/Playlist/Neutral.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/Neutral.wav' %}">
				</audio>
				<audio controls>
				   <source src="{% static 'EmotionRecognition/Playlist/Neutral2.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/Neutral2.wav' %}">
				</audio>
				<a href="/Playlist/Neutral2.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>
				<hr>
				<h3>Happy</h3>
				<a href="/Playlist/happy.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>
				<audio controls>
				   <source  src="{% static 'EmotionRecognition/Playlist/happy.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/happy.wav' %}">
				</audio>
				<audio controls>
				   <source src="{% static 'EmotionRecognition/Playlist/Happy2.wav' %}" type="audio/wav">
				   <embed height="50" width="100" src="{% static 'EmotionRecognition/Playlist/Happy2.wav' %}">	
				</audio>
				<a href="/Playlist/Happy2.wav"><i  class="fa fa-bar-chart" style="font-size:38px;color:black"></i></a>


			</div>
		</div>
	</div>
</div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
